[environment]
name = justiceleague

[justiceleague]
tenant_id = 123456
username = superman
api_key = 12345678910
identity_url = https://identity.api.justiceleague.com/v2.0/tokens
cloud_url = https://superman.api.justiceleague.com/v2/
image_id = e0c3a14d-b1dc-451b-ade4-d419501aa121
flavor_id = 2

[avengers]
tenant_id = 567890
username = thor
api_key = 01987654321
identity_url = https://identity.api.avengers.com/v2.0/tokens
cloud_url = https://thor.api.avengers.com/v2/
image_id = e0c3a14d-b1dc-451b-ade4-d419501aa121
flavor_id = 2
